.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.none {
    display: none;
}

.visible {
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
