@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.montserrat{
    font-family: Montserrat;
}

.oswald {
    font-family: Oswald;
}

.roboto {
    font-family: Roboto;
}

.bold {
    font-weight: bold;
}
.semiBold {
    font-weight: 600;
}

.regular {
    font-weight: regular;
}

.medium {
    font-weight: 500;
}


