
.logo{
    max-width: 80px;
    max-height: 80px;
    margin-top: 16px;
}

.navBar{
    display: flex;
    text-align: center;
    gap: 5vw;
    margin-top: auto;
    margin-bottom: auto;
}


.navBar div a {
    color: white;
}

.mainBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: auto;
    max-width: 1440px;
    margin: auto;
    padding: 0 5vw;
}


.points {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; 
}

.points:hover {
    text-decoration: 2px underline;
    text-decoration-color: #961914;
}


.moveableBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: auto;
    background-color: white;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5vw;
}

.moveableNavBar{
    display: flex;
    text-align: center;
    gap: 5vw;
}




.movableLogo{
    max-width: 80px;
    max-height: 80px;
    margin-top: 16px;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width: 1219px) {
    .navBar  {
        display: none;
    }
    .moveableNavBar {
        display: none;
    }
    .mobileMenu {
        display: block;
        margin-left: auto;
    }
}