.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;

}

.header{
    display: flex;
    justify-content: space-evenly;
}

.header span{
    display: block;
    margin-bottom: 80px;
    margin-top: 203px;
}

.mainHeader {
    font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 130%;
}

.subHeader {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
max-width: 777px;
margin-left: 97px;
margin-bottom: 74px;
}

.count{
    display: flex;
    background: center / cover no-repeat url('../../images/detailBackground.svg');
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 180px;
}

.countText {
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 140%;
margin-top: 52px;
margin-left: 50px;
margin-right: 151px;
margin-bottom: 54px;
}

.countText span {
    max-width: 705px;
}


.countButton {
    background-color: #961914;
    border: none;
    color: #FFFFFF;
    padding: 13px 42px;
    max-width: 227px;
    font-family: Montserrat;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 25px;
    margin-right: 121px;
    transform: translateY(-10px);
}

.countButton:hover {
    background-color: #75110D;
}
.dietsFeed{
    display: flex;
    max-width: 1200px;
}
.diet{
    display: grid;
    margin-bottom: 80px;
}

.dietFor {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 130%;
margin-top: 45px;
margin-bottom: 4px;
}

.dietType {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 130%;
color: #9F9E9D;
margin-bottom: 16px;
}

.dietDescription{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #434242;
    margin-bottom: 11px;
}

.dietWeight{
color: #9F9E9D;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 130%;
margin-bottom: 24px;
}

.orderButton{
    background-color: white;
    border: none;
    color: #961914;
    border: 1px solid #961914;
    padding: 13px 42px;
    max-width: 160px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
    border-radius: 8px;
    margin-top: 25px;
    margin-right: 121px;
}

.orderButton:hover{ 
    background-color: #961914;
    color: #FFFFFF;
}

.arrowLeft{
    display: none;
}

.arrowRight{
    display: none;
}

@media screen and (max-width: 1219px) {
.header{
    flex-direction: column;
    margin-top: 5vh;
}   
.header span{
    margin: 5vh auto;
}
.subHeader{
    margin: auto;
    max-width: none;
    max-width: 90vw;
}



.diets{
    margin: 0 auto;
    max-width: 90vw;
    overflow: scroll;
}
.diets::-webkit-scrollbar{
    display: none;
}

.mainBox{
    margin-left: 0px;
    margin-right: 0px;
}

.diet{
    text-align: center;
}

.orderButton {
   margin: 0 auto;
}

.diet img {
    min-width: 280px;
}

.count{
    margin-bottom: 5vh;
    flex-direction: column;
    text-align: center;

}
.countText {
margin: 5vh;
}

.countButton {
    margin: 0 auto 5vh;
}

.arrowLeft{
    display: block;
    transform: translate(-10px, -310px);
    position:absolute;
}

.arrowRight{
    display: block;
    transform: translate(225px, -374px);
}

}